<%- include ../public/page_header.html %>
    <div class="app-layout">
        <%- include ../public/page_nav.html %>
            <div class="layout-main">
                <h3>角色授权</h3>
                <form action="/admin/role/auth" method="post">
                    <input type="hidden" name="_csrf" value="<%=csrf%>">
                    <input type="hidden" name="roleId" value="<%=roleId%>">
                    <%for(var i =0;i<permissionList.length;i++){ %>
                        <ul>
                            <li class="access-box">
                                <div class="box-left">
                                    <label>
                                                        <input type="checkbox" value="<%=permissionList[i].id%>" <%if(permissionList[i].check){%> checked
                                                            <%}%> name="permissionIds[]">
                                                        <%= permissionList[i].title%>管理
                                                </label>
                                </div>
                                <div class="box-right">

                                    <%for(var j=0;j<permissionList[i].permissions.length;j++){%>
                                        <label>
                                                    <input type="checkbox" value="<%=permissionList[i].permissions[j].id%>" <%if(permissionList[i].permissions[j].check){%> checked
                                                        <%}%> name="permissionIds[]">
                                                    <%= permissionList[i].permissions[j].title%>
                                                </label>
                                        <%}%>
                                </div>
                            </li>
                        </ul>
                        <%}%>
                            <div>
                                <button type="submit">确定</button>
                            </div>
                </form>
            </div>
    </div>
    <%- include ../public/page_footer.html %>