{% extends "layout.html" %}

{% block content %}
<h2>login</h2>
<div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
<div>
    userId:<input type="number" id="userId">
    username:<input type="text" id="username2">
    password: <input type="text" id="password2">
    <button id="submit">submit</button>
</div>
<script>
    $("#submit").click(function () {
        var userSessionStorag = {
            userId: $("#userId").val(),
            username: $("#username2").val(),
            password: $("#password2").val(),
        }
        console.log(userSessionStorag)
        sessionStorage.userSessionStorag = JSON.stringify(userSessionStorag);
        $.ajax({
            url:'/login',
            method:"POST",
            data:{
                userId:userSessionStorag.userId
            },
            success:function(data){
                console.log(data)
            },
            error:function(error){
                console.log(error)
            }
        })
    })
</script>
{% endblock %}