{% extends "layout.html" %}

{% block content %}
<div class="all-header">
    <h4>角色列表</h4>
    <button class="btn btn-default" type="submit">添加角色</button>
</div>
<table class="table">

    <ul class="news-view view">
        <th>
            <tr>
                <td>id</td>
                <td>用户</td>
                <td>状态</td>
                <td>创建时间</td>
                <td>修改时间</td>
                <td>操作</td>
            </tr>
        </th>
        {% for item in data.rows %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.created_at }}</td>
            <td>{{ item.updated_at }}</td>
            <td>
                <button class="btn btn-default" type="submit">编辑</button>
                <button class="btn btn-default" type="submit">设置权限</button>
            </td>
        </tr>
        {% endfor %}
    </ul>
</table>

{% endblock %}